<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лобби</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center-box">
        <h2>Добро пожаловать, {{ session['username'] }}</h2>
        <h3>Выберите чат:</h3>
        <ul class="chat-list">
            <li><a href="{{ url_for('chat', chat_name='школа') }}">Чат - школа</a></li>
            <li><a href="{{ url_for('chat', chat_name='домик') }}">Чат - домик</a></li>
            <li><a href="{{ url_for('chat', chat_name='developer') }}">Чат - developer</a></li>
        </ul>
    </div>
</body>
</html>
